.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .board {
    width: 33rem;
    height: 33rem;
    border: 2px solid white;

    .board-row {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  .new-game {
    width: 33rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 6rem;
    margin-top: 2rem;
    background: wheat;

    p {
      font-size: 1.6rem;
      color: #c74848;
    }
  }
}
